<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <center><h3>Reset Password</h3></center>
        <div class="row main" style="padding-top:50px;">
            <div class="main-login main-center">
                <p>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-primary">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </p>
                <form method="POST" action="{{ url_for('reset_password', token=token) }}">
                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">New Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="new_password" id="password" placeholder="Enter new Password" required/>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block login-button">
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-T0zKfN4aRwZxKhtJcVSGLQoU/HsbSRt8pqE5QCb43Hctb06mf8YZI77N2M1zXZIo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFwA5Xh/I0zY1zN4xLsiwM1sBfB" crossorigin="anonymous"></script>
</body>
</html>
